p{
    background-color:antiquewhite;
    font-family: 'Courier New', Courier, monospace;
}


h1{

    text-align: center;
    font-family: 'Courier New', Courier, monospace;
    margin-top:50px;
}

h2{
    text-align: center;
    font-family: 'Courier New', Courier, monospace;
}
.img1{
    margin-bottom:100px;

 }
