<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8"/>
<title>Document</title>
</head>
<body>
<!-- Conteúdo -->
<div class="container">
<h1> Sobre Nós </h1>

<div class="container-fluid">
    <div class="row">
        <div class="col-md-6">
    <img src="../assets/imagens/rest.jpg" width=100% height=100%>
   
</div>
<div class="col-md-6">
    <p>A culinária japonesa é uma das mais famosas do mundo e coleciona admiradores em todos os cantos do planeta.
     Com sabores exóticos, pratos variados a base de peixes e um jeito todo charmoso de comer com hashi, ela é considerada uma das gastronomias mais saudáveis da cozinha internacional.</p>
    <p> Se você pensa que a culinária do Japão é feita apenas de peixe cru, está enganado. Os clássicos sashimis são sim verdadeiras iguarias da gastronomia, mas os japoneses colecionam outros sabores extraordinários.

        Na sua viagem para o Japão, você não pode deixar de experimentar os tradicionais sushi, temaki e niguiri, que são pratos feitos à base de arroz e outros ingredientes, como peixes e frutos do mar. 
        
        As comidas quentes também fazem o maior sucesso por lá, como o Guioza, um bolinho com massa fininha e recheio de legumes ou carne moída. O Missoshiru, uma sopa de peixe à base de soja deliciosa faz parte do dia a dia do povo japonês. 
        
        O Yakisoba é muito conhecido no Brasil e no Japão é uma verdadeira tradição. O tempurá, um empanado de carne e legumes jamais pode passar despercebido no seu roteiro gastronômico. </p>

</div>
</div>
</div>
<h1> História</h1>
<div class="container-fluid">
    <div class="row">

        <div class="col-md-6">
            <p>A culinária japonesa é uma das mais famosas do mundo e coleciona admiradores em todos os cantos do planeta.
             Com sabores exóticos, pratos variados a base de peixes e um jeito todo charmoso de comer com hashi, ela é considerada uma das gastronomias mais saudáveis da cozinha internacional.</p>
            <p> Se você pensa que a culinária do Japão é feita apenas de peixe cru, está enganado. Os clássicos sashimis são sim verdadeiras iguarias da gastronomia, mas os japoneses colecionam outros sabores extraordinários.
        
                Na sua viagem para o Japão, você não pode deixar de experimentar os tradicionais sushi, temaki e niguiri, que são pratos feitos à base de arroz e outros ingredientes, como peixes e frutos do mar. 
                
                As comidas quentes também fazem o maior sucesso por lá, como o Guioza, um bolinho com massa fininha e recheio de legumes ou carne moída. O Missoshiru, uma sopa de peixe à base de soja deliciosa faz parte do dia a dia do povo japonês. 
                
                O Yakisoba é muito conhecido no Brasil e no Japão é uma verdadeira tradição. O tempurá, um empanado de carne e legumes jamais pode passar despercebido no seu roteiro gastronômico. </p>
        
        </div>

        <div class="col-md-6">
            <img src="../assets/imagens/comida2.jpg" width=100% height=78%>
        </div>
</div>
</div>
</div>
</body>
</html>