body{
    background-color: rgb(250, 116, 116);
}

img{
    width:200px;
    height:200px;
}

h1{
    text-align: center;
    padding-bottom: 20px;
    font-family: 'Courier New', Courier, monospace;
}
