<footer style="background-color: black; padding: 20px; margin-top:50px;">
  
  
  <div style="text-align: center; margin-top: 20px;">
       <div class="container-fluid">
        <div class="row">
            <div class="col-md-6"> 
   <div style="text-align: center; margin-top: 20px;">
      <h3>Entre em Contato</h3>
      <p>Telefone: (00) 12345-6789</p>
      <p>Email: contato@exemplo.com</p> 
      
      <h3>Endereço</h3>
      <p>Rua Exemplo, 123</p>
      <p>Cidade, Estado</p>
      <p>CEP: 12345-678</p>
    </div>
    </div>
    <div class="col-md-6">
      <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d117608.51607897422!2d-43.62332335923336!3d-22.90355292603484!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x9be15839e68c4f%3A0x588a284ae162bc38!2sSenac%20Campo%20Grande!5e0!3m2!1spt-BR!2sbr!4v1692211851950!5m2!1spt-BR!2sbr" width="400" height="300" style="border:0;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe>
  </div>
  </div>
  <div style="text-align: center; margin-top: 20px;">
      <p>&copy; 2023 Japa Todos os direitos reservados.</p>
  </div>
</div>
  </div>
</footer>

  
